*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",proxima nova;
    
}



header img{
    height: 900px;
    min-width: 100%;
    
}

body{
    overflow-x: hidden;
}


.intro{
    text-align: center;
}

.intro-content{
    display: flex;
    
}

.intro-content img{
    height: 500px;
}

.intro-text{
    flex: 2;
    
    font-weight: 300;
    text-align: left;
    width: 30%;
    transform: translateY(20px);
    opacity: 0;
    margin-top: 100px;
    transition: 1s all ease-in-out;
    font-size: 18px;
}

.intro-appear{
    opacity: 1;
    transform: translateY(0px);
    font-size: 18px;
}


.intro-text h2{
    text-align: center;
    
}

.intro-text p{
    margin-left: 20px;
}